<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<form th:action="@{/collaborators/{recipe_id}(recipe_id=${collaborator.recipe_id})}" th:object="${collaborator}" method="post">
    <label for="firstName">First name</label>
    <input type="text" th:field="*{firstName}" recipe_id="firstName" name="firstName" placeholder="First name">
    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
    
    <label for="lastName">Last name</label>
    <input type="text" th:field="*{lastName}" recipe_id="lastName" name="lastName" placeholder="Last name">
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
    
    <br>
    
    <label for="street">Street</label>
    <input type="text" th:field="*{street}" recipe_id="street" name="street" placeholder="Street">
    <span th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></span>
    
    <label for="zipCode">Zip Code</label>
    <input type="text" th:field="*{zipCode}" recipe_id="zipCode" name="zipCode" placeholder="Zip Code">
    <span th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}"></span>
    
    <br>
    
    <label for="city">City</label>
    <input type="text" th:field="*{city}" recipe_id="city" name="city" placeholder="City">
    <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
    
    <label for="state">State</label>
    <input type="text" th:field="*{state}" recipe_id="state" name="state" placeholder="State">
    <span th:if="${#fields.hasErrors('state')}" th:errors="*{state}"></span>
    
    <br>
    
    <label for="phone">Phone</label>
    <input type="text" th:field="*{phone}" recipe_id="phone" name="phone" placeholder="Phone">
    <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
    
    <label for="dob">Date of birth</label>
    <input type="text" th:field="*{dob}" recipe_id="dob" name="dob" placeholder="Date of birth">
    <span th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"></span>
    
    <br>
    
    <input type="submit" value="Update Collaborator">
</form>
</body>
</html>
